<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <a href="/" class="navbar-brand"><img style="max-height:40px; padding-bottom:3px;" src="/img/footer_logo.png" class="img-fluid" alt=""><p>Creating Your Game Universe</p></a>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title"></h5>
                <ul><!--
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Team</a></li>
					-->
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title"></h5>
                <ul>                   
					<li><a href="/" data-toggle="tooltip" data-placement="top" title="Home">Home</a></li>
                    <li><a href="/about/" data-toggle="tooltip" data-placement="top" title="About us">About us</a></li>
                    <li><a href="/team/" data-toggle="tooltip" data-placement="top" title="See our team">Team</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title"></h5>
                <ul>
                    <li><a href="/privacy/" data-toggle='tooltip' data-placement='top' title="Privacy Policy">Privacy</a></li>
                    <li><a href="/terms/" data-toggle='tooltip' data-placement='top' title="Terms of Use">Terms of use</a></li>
                    <li><a href="/contact/" data-toggle='tooltip' data-placement='top' title="Comments, Questions, Feedback">Contact us</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->


    <!--Call to action--
	    <hr>
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5></li>
            <li><a href="" class="btn btn-danger">Sign up!</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
	<style>

#sl:hover {
    color: red;
	font-size: 25px;
}
#sl {
	font-size: 25px;
	padding-left: 5px;
}
	</style>
    <div class="social-section">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/gamempirenet/" class="btn-floating btn-small btn-fb" id="sl" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"> </i></a></li>
            <li><a target="_blank" href="https://twitter.com/Gamempirenet/" class="btn-floating btn-small btn-tw" id="sl"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"> </i></a></li>
            <li><a target="_blank" href="https://plus.google.com/116809176032647545353" class="btn-floating btn-small btn-gplus"id="sl" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"> </i></a></li>
			<li><a target="_blank" href="https://www.youtube.com/channel/UCscQYwP1ZXfPVAUfT5Es4Jw" class="btn-floating btn-small btn-yt" id="sl" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube"> </i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/gamempirecorp/" class="btn-floating btn-small btn-ins" id="sl" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"> </i></a></li>
			<li><a target="_blank" href="https://www.twitch.tv/gamempiretv" class="btn-floating btn-small btn-twitch" id="sl" data-toggle="tooltip" data-placement="top" title="Twitch"><i class="fa fa-twitch"> </i></a></li>

        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright <a href="//gamempire.net">Gaming Hub Inc.</a>

        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
 
</body>
</html>