<!DOCTYPE html>
<html>
<head>
<title>Admin page</title>
</head>
<body>

<h1>This is only for develop</h1>
<p>widget db system </p>
<h3>adding new widget </h3>
<label> widget name :</label><br/>
<input type="text" id="widget" placeholder="widgetname" /><br/>
<label>type:(game/music/video/social/other)</label><br/>
<input type="text" id="type" placeholder="game/music/video/social/other" /><br/>
<label>default size:</label><br/>
<input type="text" id="size" placeholder="size" /><br/>
<label>resizeable</label><br/>
<input type="text" id="resize" placeholder="true/false" /><br/>
<label>draggable</label><br/>
<input type="text" id="drag" placeholder="true/false" /><br/>
<button type="sumbit" id="add">Submit</button>


<h3> remove widget</h3>
<select id="load">
  <option value="" selected disabled>please select one of following widgets to delete</option>
</select>
<button type="sumbit" id="delete">Submit</button>

</body>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/admin.js"></script>

</html>

